/*selector universal*/


*{
    margin:0;
    padding:0;
}

/*selector de etiqueta*/

body
{
background-color:  rgb(145, 169, 198);
color: rgb(0, 0, 0);
}
/*selector id */
#contenedor 
{
    width: 900px;
    height: 3000;
    background-color: #7ad9f9;
    margin: 10px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#encabezado
{
    
    width: 95%;
    background-color: #77c6e5;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    
}
#menu
{
    height: 6%;
    background-color: rgb(93, 213, 244);
    margin: 1em;
    border-radius: 5px;

   

}
#menuu
{
    height: 6%;
    background-color: rgb(111, 193, 244);
    margin: 1em;
    border-radius: 5px;

}
/*selector de etiqueta para el menu*/
ul
{
    text-align: center;
    padding: 10px;

}
li
{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover
{
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    
}
/*¨selector de clase*/
.img
{
width: 50%;
border-radius: 50px;
justify-items: center;
}
img:hover
{
    
 width: 50%;
    
}
.texto
{
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    font-size: 20PX;
    padding: 5PX 25PX;
    color: black;
}
#pie
{
 height: 45px;
 background-color:#a4c1eb;
 margin: 1.5em;
 text-align: center;
 padding: 5px;
 border-radius: 5px;

}
#pie h4
{
    padding: 20px;
    font-size: 20px;
    color: rgb(13, 13, 15);
}
/*card*/
.card
{
    box-shadow: 5px 5px rgb(85, 69, 69) ;
    overflow: hidden;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    
}
.card:hover
{
    max-width: 310px;
}
.card img
{
    background-color: white;
    width: 100%;
}
.title
{
    color:rgb(red, green, blue);
    font-size: 18px;
}
button 
{
    border: none;
    outline:0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

